/* Colors */
$skyblue: rgb(63, 186, 238);
$yellow: #D99E05;
$red: #D90505;
$green: #0AD905;
$darkgreen: #036761;
$blue: #0534D9;
$oceanblue: #0580D9;
$purple: #9505D9;
$pink: #D9055E;
$white: #fff;
$black: #000;

/* Break Points */
$desktop: 1440px;
$tablet1: 769px;
$tablet2: 1439px;
$mobile: 768px;